# Consul Agent (Upstart unit)
description "Consul Agent"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [016]

script

# Make sure to use all our CPUs, because Consul can block a scheduler thread
export GOMAXPROCS=`nproc`

exec sudo -u {{ consul_user }} -g {{ consul_group }} {{ consul_home }}/bin/consul agent \
  -config-dir {{ consul_config_dir }} \
  -config-file={{ consul_config_file }} \
  -syslog
end script

respawn
respawn limit 10 10

kill timeout 10
